<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MyApp_Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1C9451641EAF29D1008A04EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C94517D1EAF29D1008A04EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9451881EAF29D2008A04EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C94519B1EAF37E5008A04EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9451AC1EAF3814008A04EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9451BD1EAF389B008A04EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1C9451CF1EAF395A008A04EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
